NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ENABLE_SIMULATED_SMS=false
NEXT_PUBLIC_ENABLE_SIMULATED_SMS=false
AFRICASTALKING_USERNAME=
AFRICASTALKING_API_KEY=
AFRICASTALKING_SHORTCODE=
NEXT_PUBLIC_FALLBACK_SMS_NUMBER=+1XXXXXXXXXX
